.git
__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/
.mypy_cache/
.coverage
.coverage.*
htmlcov/
*.log
.env
jenkins/
monitoring/
k8s/
reference_versions/
**/*.md
**/*.txt
node_modules/
ngrok*
Dockerfile
docker-compose.yml

